<%- include('../partials/header') %>


<div class="row">
  <% posts.forEach(post=>{ %>
  <div class="col-sm-4 box " style="padding: 2px">
    <div style="border: 1px solid #d2d2d2" class="item">
      <h1 class="display-4"><%= post.title %></h1>

      <img
        class="img-thumbnail"
        src="<%= post.image %> "
        alt=""
      />
      <a href="/posts/<%= post._id  %> ">View More</a>
    </div>
  </div>
  <% }) %>
</div>

<%- include('../partials/footer') %>
