<%- include('../partials/mainHeader') %>

<div style="margin-top: 5vh; padding: 0 3vw; height: 80vh; display: flex">
  <div
    class="img-thumbnail"
    style="
      background-image: url(<%=post.image%>);
      height: 100%;
      width: 40%;
      background-repeat: no-repeat;
      -webkit-background-size: 100% 100%;
      -moz-background-size: 100% 100%;
      -o-background-size: 100% 100%;
      background-size: 100% 100%;
    "
  ></div>
  <div style="padding: 1em 0 0 1em; width: 50%">
    <div style="display: flex; align-items: center">
      <h1><%= post.title %></h1>
      <a href="/posts/<%= post._id%>/edit ">
        <ion-icon
          name="create-outline"
          style="margin-left: 1em; color: black; font-size: 20px"
        ></ion-icon>
      </a>
    </div>
    <p style="margin: 0"><span>by:</span><%= post.author.username %></p>
    <span style="margin: 0; font-size: 13px; color: #b3b3b3"
      ><%= post.date.toDateString() %>
    </span>
    <p style="margin-top: 2em; text-align: justify"><%= post.description %></p>
  </div>
</div>

<div style="padding: 2em 5em; border: 1px solid teal">
  <div style="display: flex; align-items: center; justify-content: flex-end">
    <h3>Comments</h3>
    <!-- <a  style="display: block;color: black;" > -->

    <% if(currentUser){ %>
    <ion-icon
      id="addComment"
      name="add-circle-outline"
      style="font-size: 25px; margin-left: 1em; cursor: pointer"
    ></ion-icon>
    <% } %>

    <!-- </a> -->
  </div>
  <!-- hide and show div for adding comment -->
  <div
    style="
      width: 80vw;
      border: 1px solid black;
      padding: 1em;
      margin: 10px 0;
      display: none;
    "
    id="addCommentForm"
  >
    <form action="/posts/<%= post._id %>/comments " method="POST">
      <textarea
        name="comment[text]"
        placeholder="Comment"
        cols="30"
        rows="10"
      ></textarea>
      <button
        style="margin-top: 1em; width: 100px"
        class="btn btn-primary btn-sm"
      >
        Submit
      </button>
    </form>
  </div>

  <% post.comments.forEach(comment=>{ %>
  <p>
    <%= comment.text %> -
    <span>by:</span><strong> <%= comment.author.username %></strong>
  </p>
  <% }) %>
</div>

<%- include('../partials/footer') %>
