<%- include('../partials/header') %>
<div class="col">
      <h1 class="display-4 text-center" ><%= post.title %></h1>

      <img
        class="rounded image-fluid mx-auto d-block"
        src="<%= post.image %> "
        alt=""
      />
      <p class="text-center"><%= post.description %> </p>

</div>
   
<%- include('../partials/footer') %>
